{% extends 'layout.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>驾校简介</title>
</head>
<body>

<div class="container mt-3">
  <h2>法人代表</h2>
  <div class="card">
    <div class="card-body">万昌富</div>
  </div>
</div>
	<div class="container mt-3">
  <h2>核准机构</h2>
  <div class="card">
    <div class="card-body">武汉东湖新技术开发区市场监督管理局</div>
  </div>
</div>
	<div class="container mt-3">
  <h2>简单的卡片</h2>
  <div class="card">
    <div class="card-body">简单的卡片</div>
  </div>
</div>
	<div class="container mt-3">
  <h2>注册时间</h2>
  <div class="card">
    <div class="card-body">2020-12-3</div>
  </div>
</div>
<div class="container mt-3">
  <h2>经营范围</h2>
 <div class="card">
    <div class="card-body">汽车驾驶员培训服务。(依法须经审批的项目，经相关部门审批后方可开展经营活动)</div>
  </div>
</div>
<div class="container mt-3">
  <h2>驾校规模</h2>
 <div class="card">
    <div class="card-body">教练:30人  学员:212人</div>
  </div>
</div>
<div class="container mt-3">
  <h2>驾校班车</h2>
 <div class="card">
    <div class="card-body">无</div>
  </div>
</div>


{% endblock %}
</body>
</html>