{% extends 'layout.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>更多介绍</title>
</head>
<link href=../static/css/more.css >
<body>
<br>
<P></P>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="h3"style="text-align: center">公司介绍</p>
            <p> 武汉海朝阳光汽车驾驶培训有限公司，可经营机动车驾驶员培训，机动车驾驶人考试场地服务，二手车交易市场经营；机动车修理与维护；停车场服务；网络技术服务等。</p><br>
            <p>学校设施先进、教学规范，培训给力。徐东注重起点，办学特色鲜明，成绩突出。得到了社会各界的广泛赞誉和关注！被授予“全国文明诚信优质服务示范单位”，多次被湖北省工商局评为“重合同、守信用”企业，连续两年被评为“消费者信得过企业”。</p><br>
            <p>拥有专业的汽车驾驶训练场地和全科目考场，实行考训一条龙服务。拥有600余辆雪铁龙教学车辆，下设有培训队100余个，训练基地50余处，遍及武汉各大城区，训练场地规范，设施齐全，功能完善。</p><br>
            <p>六大管理部门：招生部、科目二教务部、科目三教务部、考场考务部、网络部运营部、财务部。</p><br>
            <p>直营校区:湖北大学驾校、湖北第二师范学院、汉口学院驾校、湖北经济学院校区驾校、武汉理工大学余家头校区驾校、中南财经政法大学南湖校区驾校、华中科技大学校区驾校、群星城校区、销品茂校区、东沙花园校区、秦园路校区、盘龙城校区、市民之家校区、光谷生物城校区、青山校区、湖大附中校区、铁机路校区、三飞体育馆校区、新生路校区、古田校区等、本团队以平均每年5个新校区在增加，现在直营招生量约6000人左右，直营分校遍布在武汉三镇。 </p>


        </div>
        <div class="col-md-6">
            <img src="{%  static 'img/scene4.jpg' %}" class="img-fluid" alt="图片"><br>
            <p/>
            <img src="{%  static 'img/scene5.jpg' %}" class="img-fluid" alt="图片">
        </div>
    </div>
</div>

</body>
</html>

{% endblock %}