{% extends "layout.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>训练场地</title>
    <link rel="stylesheet" href=../static/css/location.css>
</head>
<body>

<div class="container mt-3">
  <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo_1">训练场</button>
  <div id="demo_1" class="collapse">
      <table class="table table-hover">
    <tbody>
      <tr>
        <td><img src="{% static 'img/train3.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校江夏纸坊分校</td>
          <td>地址：湖北省武汉市江夏区龙湾大酒店(马山湾店)纸坊街立交桥路8号(区法院后面)  <mark>(科二|科三）</mark></td>
      </tr>
      <tr>
        <td><img src="{% static 'img/train4.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校大花岭分校</td>
        <td>地址：湖北省武汉市江夏区中国银行(武汉大花岭支行)纸坊街大花岭新街2号<mark>(科二|科三）</mark></td>
      </tr>
      <tr>
          <td><img src="{% static 'img/train5.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校富士康总校</td>
        <td>地址：湖北省武汉市江夏区阳光驾校(总部直营富士康国标大型训练场)高新六路85号富士康北大门.<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/train6.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校大花岭分校</td>
        <td>地址：湖北省武汉市江夏区中国银行(武汉大花岭支行)纸坊街大花岭新街2号<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/train7.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校光谷二师分校</td>
        <td>地址：湖北省武汉市江夏区绅宝驾校二师训练基地武豹路金谷明珠园小区东南正南方向90米<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/train8.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校光谷未来科技城训练场</td>
        <td>地址：湖北省武汉市江夏区绅宝驾校总部直营(光谷未来科技城校区)神墩四路与生物园西路交叉口.<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/train9.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校光谷桃花源分校</td>
        <td>地址：湖北省武汉市江夏区阳光驾校(桃花源训练基地)神墩四路桃花源便民服务综合大市场内<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/train9.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校古田东方花城分校</td>
        <td>地址：湖北省武汉市硚口区宏业驾校(古田东方花城校区)古田路67号附39号<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/train10.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校硚口古田四路分校</td>
        <td>地址：湖北省武汉市硚口区古田四路社区古田四路与长嘉路交叉口南280米<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td></td>
        <td>阳光驾校武昌新河街分校</td>
        <td>地址：湖北省武汉市武昌区积玉桥派出所武九管廊项目警务室友谊大道与新生路交叉口东北120米<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td></td>
        <td>阳光驾校湖北大学分校</td>
        <td>地址：湖北省武汉市武昌区湖大忠诚学生公寓友谊大道338号<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/train2.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校武车三角花园分校</td>
        <td>地址：湖北省武汉市武昌区阳光驾校(绿地金融中心店)徐家棚秦臻路6号附29号<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/road1.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
        <td>阳光驾校武昌销品茂分校</td>
        <td>地址：湖北省武汉市武昌区绅宝驾校(武昌总校)秦园路50号(徐家棚地铁站E口步行230米)<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td></td>
        <td>阳光驾校徐东总校</td>
        <td>地址：湖北省武汉市武昌区阳光驾校和平大道与秦园路交叉口西南120米<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td></td>
        <td>阳光驾校铁机保利城分校</td>
        <td>地址：湖北省武汉市洪山区阳光驾校(铁机路保利城总校)铁机西路保利城与融海杰座中间<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td></td>
        <td>阳光驾校(武昌杨园分校)</td>
        <td>地址：湖北省武汉市武昌区绅宝驾校(总部直营武昌杨园分校)铁机路幼儿园(万科金域华府东北侧3.<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td></td>
        <td>阳光驾校塔子湖训练场</td>
        <td>地址：湖北省武汉市江岸区蓓立幼儿园尚湖熙园东门北60米<mark>(科二|科三）</mark></td>
      </tr>
    <tr>
        <td><img src="{% static 'img/train1.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="150"></td>
        <td>阳光驾校市民之家分校</td>
        <td>地址：湖北省武汉市江岸区健身路与兆瑞大道交叉口<mark>(科二|科三）</mark></td>
      </tr>

    </tbody>
  </table>
</div>


<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo_2">考场</button>
    <div id="demo_2" class="collapse">
  <table class="table table-hover">
    <tbody>
        <tr>
            <td><img src="{% static 'img/train.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
            <td>南湖科目二考场</td>
            <td>地址：湖北省武汉市洪山区武汉市机动车驾驶人白沙洲科目二考场白沙洲大道10附近<mark>科二</mark></td>
        </tr>
        <tr>
            <td><img src="{% static 'img/scene4.jpg' %} " class="img-thumbnail" alt="Cinque Terre" width="200" height="200"></td>
            <td class="text">佛祖岭科目三考场</td>
            <td>地址：湖北省武汉市江夏区武汉市机动车驾驶员佛祖岭科目三考场高新五路84号<mark>科三</mark></td>
        </tr>

    </tbody>
  </table>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#demo_3">报名点</button>
<div id="demo_3" class="collapse">
  <table class="table table-hover">
    <tbody>
      <tr>
        <td></td>
        <td>阳光驾校(铁机路保利城店）</td>
        <td>湖北省武汉市洪山区阳光驾校总部直营(铁机路保利城店)铁机西路保利城与融海杰..</td>
      </tr>

    </tbody>
  </table>
</div>
</div>


</body>
</html>
{% endblock %}